<div class="py-8">
  <div class="flex items-center justify-between mb-8">
    <h1 class="text-3xl font-bold text-slate-900 mb-8">Products</h1>
    <div class="search">
      <input
        [(ngModel)]="searchQuery"
        (ngModelChange)="onSearch($event)"
        class="w-72 p-2 border border-slate-200 rounded focus:outline-none focus:ring-2 focus:ring-slate-500"
        type="text"
        placeholder="Search products..."
      />
    </div>
  </div>

  @if (loading()) {
    <div class="flex items-center justify-center">
      <p>Loading product...</p>
    </div>
  }

  @if (products()?.length === 0 && !loading()) {
    <div class="flex items-center justify-center">
      <p>No products available.</p>
    </div>
  } @else {
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      @for (product of products(); track product.id) {
        <app-product-card (addToCart)="onAddToCart($event)" [product]="product" />
      }
    </div>
  }
</div>
