@inherits LayoutComponentBase
@using WebportSystem.Dashboard.Components.Layout.Theme

<MudThemeProvider Theme="ThemeConfig.CurrentTheme" />

<ErrorBoundary @ref="errorBoundary">
    <ChildContent>                
        @Body        
    </ChildContent>

    <ErrorContent Context="exception">
        <p>Auth Layout - Error Boundary</p>        
        <p>@exception.GetType()</p>
        <p>@exception.Message</p>
        <p>@exception.StackTrace</p>
        <button onclick="() => errorBoundary?.Recover()">Try Again</button>
    </ErrorContent>
</ErrorBoundary>


@code{
	private ErrorBoundary? errorBoundary;

    protected override void OnParametersSet()
    {
        errorBoundary?.Recover();
    }
}