<footer class="app-footer">
    <span>© @DateTime.Now.Year WEBPORT. All rights reserved.</span>
</footer>

@code {

}

<style>
    .footer-layout {
        width: 100%;
        height: var(--footer-height);
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
    }
</style>